<md-elevated-card>
  <div class="container">
    {{ partial "footerlogo.html" . }}
    <div>
      <ul>
        {{ range (index .Site.Data .Language.Lang).footer.menuitems }}
        <li><a href="{{ .link }}">{{ .title }}</a></li>
        {{ end }}
      </ul>
    </div>
    {{ partial "socialbuttons.html" . }}
    <div class="container">
      <div>
        {{ markdownify (index .Site.Data .Language.Lang).footer.footer_text }}
      </div>
      <p>{{markdownify (index .Site.Data .Language.Lang).footer.copyright }}</p>
    </div>
  </div>
</md-elevated-card>
