<div>
  <a href="{{ relLangURL `/` }}" class="logo">
    <div
      class="{{ if (index .Site.Data .Language.Lang).header.logo_subtitle }}has_subtitle{{ end}}"
    >
      {{ if .Site.Data.settings.logo }}
      <img
        src="{{ .Site.Data.settings.logo }}"
        alt="{{ .Site.Title }} logo"
        class="inline"
      />
      {{ else }}
      <span>{{ .Site.Title }}</span>
      {{ end }}
      <div>
        {{ if (index .Site.Data .Language.Lang).header.logo_subtitle }}
        <span>
          {{ (index .Site.Data .Language.Lang).header.logo_subtitle }} </span
        >{{ end }}
      </div>
    </div>
  </a>
</div>
