<!-- load reviews from data folder and display them ein a ul -->

<md-elevated-card class="text-justify p-3">
    <div class="grid">
        {{- range (index page.Site.Data page.Site.Language.Lang).reviews -}}
                <md-elevated-card class="g-col-12 g-col-md-6 g-col-lg-4 p-3">
                    <div>
                        {{/*  <img src="{{ if (resources.GetMatch .image ) }}{{ ((resources.GetMatch .image).Fit `50x50 webp Smart q50`).RelPermalink | safeURL }}{{ else }}{{ .image }}{{ end }}" alt="{{ .name }} image" class="avatar g-colorize_image">
                          */}}
                          <div>
                            <h3 class="text-center">{{ .name }}</h3>
                            <div class="function">{{ .function }}</div>
                        </div>
                    </div>
                    <div>
                        <p>{{ .description }}</p>
                    </div>
                </md-elevated-card>
        {{- end -}}
    </div>
</md-elevated-card>