<md-elevated-card class="mx-2">
  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo o título de la página -->
      {{ partial "header/logo.html" . }}
      <!-- Botón para dispositivos pequeños -->
      <md-filled-tonal-icon-button
        class="d-lg-none"
        data-bs-toggle="collapse"
        data-bs-target="#navbarMenuItems"
        aria-controls="navbarMenuItems"
        aria-expanded="false"
        aria-label="Toggle navigation"
        toggle
      >
        <md-icon>menu_open</md-icon>
        <md-icon slot="selected">close</md-icon>
      </md-filled-tonal-icon-button>
      <!-- Elementos de la barra de navegación -->
      <div class="collapse navbar-collapse" id="navbarMenuItems">
        {{ partial "header/menuitems.html" .}}
      </div>
    </div>
  </nav>
</md-elevated-card>

