{{- if .Site.Data.settings.preheader.active -}}
<div class="preheader p-1 px-2">
  <md-elevated-card class="grid gap-0 align-text-top">

      {{- if .Site.Data.settings.contact.phone -}}
      <md-text-button class="g-col-6"
        href="tel:{{ replace .Site.Data.settings.contact.phone ` ` `` }}"
        alt="Phone contact number"
      >
        {{ .Site.Data.settings.contact.phone }}
        <md-icon slot="icon">phone</md-icon>
      </md-text-button>
      {{- end -}} {{- if .Site.Data.settings.contact.email -}}
      <md-text-button class="g-col-6"
        href="tel:{{ replace .Site.Data.settings.contact.email ` ` `` }}"
        alt="Contact email"
      >
        {{ .Site.Data.settings.contact.email }}
        <md-icon slot="icon">mail</md-icon>
      </md-text-button>
      {{- end -}}
      
{{/*  TODO: Fix preheader tex
        <div class="me-auto text-center">
        {{- if .Site.Data.settings.preheader.text -}}{{
        .Site.Data.settings.preheader.text }}{{- end -}}
      </div>  */}}

  </md-elevated-card>
</div>
{{- end -}}
